.intro {
	min-height: 620px;
	display: flex;
	width: 100%;
	align-items: center;
	border-bottom: 1px solid $border-color;
	@media (#{$bp-larger-than-phablet}) {
		font-size: 2rem;
		min-height: 700px;
	}
	&__hero-icon {
		font-size: 15rem;
		line-height: 1;
	}
	&__body {
		max-width: 875px;
		.connect {
			margin-top: 2.5em;
		}
    p {
      margin-top: 1em;
    }
	}
  .role {
    font-size: 1.6rem;
    &__icon {
      margin-right: 1rem;
      position: relative;
      top: 4px;
      color: $color-green;
      @media screen and (max-width: 480px) {
        display: none;
      }
    }
    &__text {
      opacity: .6;
    }
  }
}