.logo {
	display: inline-block;
	font-weight: 900;
	text-transform: uppercase;
  letter-spacing: .2em;
	a {
		display: block;
		color: inherit;
	}
	a:hover {
		transform: scale(1.02);
		transition: all 150ms ease-in-out;
		.logo__icon {
			color: $color-green;
			transition: all 150ms ease-in-out;
		}
	}
	&__icon {
		width: 40px;
    margin-right: 1rem;
    fill: currentColor;
		vertical-align: middle;
	}
	&__wordmark {
		display: none;
		@media (#{$bp-larger-than-phablet}) {
			display: inline;
		}
	}
}

.demo {
	margin-bottom: 1rem;
	&__container {
		width: auto;
		display: flex;
		padding: .5rem;
		justify-content: space-evenly;
		max-width: 15rem;
		border: 1px solid #E7E7E9;
	}
	&__item {
		$size: 1.5rem;
		width: $size;
		height: $size;
		box-shadow: 0px 1px 1px rgba(black, .2);
		border: 1px solid;
	}
}

#textRotate {
  position: relative;
  &:after {
    content: '';
    top: 0;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    background: transparentize($color-green, .85);
    border: 1px solid $color-green;
    padding: .5rem 1rem;
    border-radius: 2px;
    color: $color-green;
    width: max-content;
    transition: all 150ms ease;
    opacity: 0;
  }
  &:hover, &:focus {
    &:after {
      content:'Bonus: Refresh the page to find out another fact';
      top: -30px;
      opacity: 1;
    }
  }
}