@keyframes bump {
    0% {}

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(0.9);
    }

    75% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}