.footer {
	width: 100%;
	border-top: 1px solid $border-color;
	background: $white;
	&__body {
		padding: 1.5rem 0;
	}
	&__grid {
		justify-content: space-between;
	}
	&__text {
		opacity: .75;
		font-size: 85%;
	}
}

.footer__grid {
  align-items: center;
  .connect {
    float: right;
  }
  @media screen and (max-width: 549px) {
    text-align: center;
    .connect {
      margin: 1.5rem auto 0;
      float: inherit;
    }
  }
}