.project
  .project__hero.project__hero--capsule
    img.project__hero-image(src="../images/capsule/capsule-header.png")
  .container
    .row
      .col.col--12
        .project__header
          .spacer.spacer--75
          :markdown-it
            ## Capsule Corporation
            ##### A rebrand of a fictional entity
          .project__border
        .spacer.spacer--25
    .project__role.flex-grid.u-align-center
        .project__icon
          include ../_icon-user
        .flex-grid__col
          strong.u-display-block Specifications
          span Rebranding, print design, UI/UX, Packaging
    .spacer.spacer--50
    .row
      .col.col--12
        :markdown-it
          ##### Overview
          Capsule Corporation is a fictional entity set in the Dragonball universe. The company's premier product is a technology that allows for the dynamic shrinkingnof any object/substance, for easy storage and carrying inside tiny capsules. The shrunken matter can be extracted to their original sizes later with the press of a button. This project will serve to not only refresh, but also to portray the company in a non-fictonal, modern setting. ***But probably just to feed my childhood fasciniation with Dragonball Z.***
        .spacer.spacer--100
    .project__content
      .row
        .col.col--12
          img(src="../images/capsule/capsule.jpg" data-action="zoom")
          .spacer.spacer--50
      .spacer.spacer--50
      .row
        .col.col--6
          :markdown-it
            ##### The Refresh
            Since the original logomark and branding feels dated and typographically random, this rebrand will attempt at standardizing the assets of the brand through a complete rebrand.
            
            Standards for modern digital use were also made for the logo and typography, as seen below.
          img(src="../images/capsule/capsule.gif" data-action="zoom")
        .col.col--6
          img(src="../images/capsule/capsule2.jpg" data-action="zoom")
      .row
        .col.col--6
          .spacer.spacer--50
          img(src="../images/capsule/capsule3.jpg" data-action="zoom")
        .col.col--6
          .spacer.spacer--50
          img(src="../images/capsule/capsule4.jpg" data-action="zoom")
      .row
        .col.col--6
          .spacer.spacer--50
          img(src="../images/capsule/capsule5.jpg" data-action="zoom")
        .col.col--6
          .spacer.spacer--50
          img(src="../images/capsule/capsule6.jpg" data-action="zoom")
      .spacer.spacer--50
      .row
        .col.col--6
          :markdown-it
            ##### Print design
            In a modern era, Capsule's visual brand might have a majority of its presence digitally, but the company's primary business is in its physical products.
            
            Therefore, it's print design should follow the minimalistic, bold fundamentals, as seen in its digital brand presence
          img(src="../images/capsule/capsule8.jpg" data-action="zoom")
        .col.col--6
          .spacer.spacer--50
          img(src="../images/capsule/capsule7.jpg" data-action="zoom")
      .row
        .col.col--6
          .spacer.spacer--50
          img(src="../images/capsule/capsule9.jpg" data-action="zoom")
        .col.col--6
          .spacer.spacer--50
          img(src="../images/capsule/capsule11.jpg" data-action="zoom")
      .spacer.spacer--50
      .row
        .col.col--6
          img(src="../images/capsule/capsule10.jpg" data-action="zoom")
        .col.col--6
          :markdown-it
            ##### Mobile?
            Many modern brands tether their presence to the user by use of mobile applications.
            
            Shown are a few examples of how a fictional entity such as Capsule Corp. might do so in our world.
      .row
        .col.col--6
          .spacer.spacer--50
          img(src="../images/capsule/capsule12.jpg" data-action="zoom")
        .col.col--6
          .spacer.spacer--50
          img(src="../images/capsule/capsule13.jpg" data-action="zoom")
.container
  .row
    .col.col--6.col--offset-3
      include ../_more-work