.project
  .project__hero.project__hero--cb911
    img.project__hero-image(src="../images/chargebacks911/cb911-header.png")
  .container
    .row
      .col.col--12
        .project__header
          .spacer.spacer--75
          :markdown-it
            ## Chargebacks911
            ##### Helping online merchants optimize profitability
          .project__border
        .spacer.spacer--25
    .project__role.flex-grid.u-align-center
        .project__icon
          include ../_icon-user
        .flex-grid__col
          strong.u-display-block My Role
          ul(style="margin-bottom: 0")
            li Designed visual assets (flyers, videos, ads, tradeshow displays, pitch decks)
            li Lead UX & UI design for onboarding wizard app and merchant dashboard
            li Standardized brand through a newly-built style guide
            li Refactored UI of internal CRM product
            li Helped develop main website design and content marketing assets
            li Developed landing page and email templates using Hubspot's HUBL markup language
            li Illustrated visual content and developed responsive media for daily blog
            li Investigated user methods and conducted UX analysis 
    .spacer.spacer--50
    .row
      .col.col--12
        :markdown-it
          ##### Overview
          Chargebacks911® provides cutting-edge, highly-scalable enterprise solutions and specialized consulting for chargeback compliance, risk mitigation, and dispute management. The company’s dynamic technologies and tactical data analysis help decrease the negative impacts of chargebacks and disputes, thereby increasing customer retention and revenues. Chargebacks911 is recognized as the world’s leading service provider for comprehensive dispute mitigation and remediation technology.
          
          Although I juggled between marketing design and the design for the merchant applications, it came as a blessing in disguise - it allowed me to see exacly how we could reach companies who needed a profit-optimizing solution, and how we could develop a solution to do just that. [I later hopped onto a small team that to develop a dispute management application for enterprise banks. Check it out!](../disputelab)
          
          Speaking with the support teams, we identified questions that often came up for new and old users, isolating pain points and assembling a timeline for what users experience as they progress through the app. Where were users leaving? *Why?*  What elements of the interface were confusing or unclear? *Why?*  Were there any patterns that seemed too complex for the already complex process of payments? *Why?*
          
        .spacer.spacer--100
    .project__content
      .row
        .col.col--12
          :markdown-it
            ##### Marketing Design Assets
            lorem ipsum dolor sit amet
      .row
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
    .project__content
      .row
        .col.col--12
          :markdown-it
            ##### Wizard and Merchant Application
            lorem ipsum dolor sit amet
      .row
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
    .project__content
      .row
        .col.col--12
          :markdown-it
            ##### Style Guide
            lorem ipsum dolor sit amet
      .row
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
    .project__content
      .row
        .col.col--12
          :markdown-it
            ##### Internal Management Tool
            lorem ipsum dolor sit amet
      .row
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
    .project__content
      .row
        .col.col--12
          :markdown-it
            ##### Website Design and Blog
            lorem ipsum dolor sit amet
      .row
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
    .project__content
      .row
        .col.col--12
          :markdown-it
            ##### Landing Pages and Emails
            lorem ipsum dolor sit amet
      .row
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
.container
  .row
    .col.col--12
      .spacer.spacer--75