.project
  .project__hero.project__hero--cb911
    img.project__hero-image(src="../images/chargebacks911/cb911-header.png")
  .container
    .row
      .col.col--12
        .project__header
          .spacer.spacer--75
          :markdown-it
            ## Chargebacks911
            ##### Helping online merchants optimize profitability
          .project__border
        .spacer.spacer--25
    .project__role.flex-grid.u-align-center
        .project__icon
          include ../_icon-user
        .flex-grid__col
          strong.u-display-block My Role
          span Lead and sole designer responsible for UI/UX of products, website design, marketing page/email templates, printed assets, etc.
    .row
      .spacer.spacer--50
      .col.col--12
        h6 A detailed list of my repsonsibilties included:
    .row
      .col.col--6
        ul
          li Designed visual assets (flyers, videos, ads, tradeshow displays, pitch decks)
          li Lead UX & UI design for onboarding wizard app and merchant dashboard
          li Standardized brand through a newly-built style guide
          li Refactored UI of internal CRM product
      .col.col--6
        ul
          li Helped develop main website design and content marketing assets
          li Developed landing page/email templates using 
            a.link(href="https://designers.hubspot.com/docs/hubl/intro-to-hubl" target="_blank") Hubspot HUBL
          li Illustrated visual content and developed responsive media for daily blog
          li Investigated user methods and conducted UX analysis 
        .spacer.spacer--50
    .row
      .col.col--12
        :markdown-it
          ##### Overview
          Chargebacks911® provides cutting-edge, highly-scalable enterprise solutions and specialized consulting for chargeback compliance, risk mitigation, and dispute management. The company’s dynamic technologies and tactical data analysis help decrease the negative impacts of chargebacks and disputes, thereby increasing customer retention and revenues. Chargebacks911 is recognized as the world’s leading service provider for comprehensive dispute mitigation and remediation technology.
          
          Although I juggled between marketing design and the design for the merchant applications, it came as a blessing in disguise - it allowed me to see exacly how we could reach companies who needed a profit-optimizing solution, and how we could develop a solution to do just that. [I later hopped onto a small team that to develop a dispute management application for enterprise banks. Check it out!](../disputelab)
          
          Speaking with the support teams, we identified questions that often came up for new and old users, isolating pain points and assembling a timeline for what users experience as they progress through the app. Where were users leaving? *Why?*  What elements of the interface were confusing or unclear? *Why?*  Were there any patterns that seemed too complex for the already complex process of payments? *Why?*
          
        .spacer.spacer--50
    .project__content
      .row
        .col.col--12
          .spacer.spacer--50
          :markdown-it
            ##### Marketing Design Assets
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat blandit leo, id molestie est dignissim eu. Morbi scelerisque vulputate mattis. Curabitur blandit porttitor leo id semper. Proin maximus fermentum quam et sollicitudin. Donec iaculis libero id augue porta dictum. Praesent pellentesque interdum ante ut faucibus. Maecenas sit amet sollicitudin mauris.
      .row
        .col.col--4
          img(src="../images/chargebacks911/cb911-tradeshow-1.png" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-flyer-1.png" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-flyer-2.png" data-action="zoom")
      .row
        .col.col--4.col--offset-2
          img(src="../images/chargebacks911/cb911-ppt-1.png" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-ppt-2.png" data-action="zoom")
      .row
        .col.col--12
          .spacer.spacer--50
          h5 Email Signature Generator
          p In my refactor of the company's email signature, we also needed to have working, custom signatures for the sales team. I quickly realized how timely and repetitive of a process it was to code custom signatures for sales team members manually. In a bit of my free time, I decided to create a small a Vue JS app that would help members of the sales team create their own Hubspot email signature. 
            a(href="https://chargebacks911.com/hubspot-signature" target="_blank") Check it out!
      .row
        .col.col--8.col--offset-2
          .spacer.spacer--25
          a(href="https://chargebacks911.com/hubspot-signature" target="_blank")
            img(src="../images/chargebacks911/cb911-hubspot-1.png")
            figcaption Click to go to the live app!
    .project__content
      .row
        .col.col--12
          .spacer.spacer--50
          :markdown-it
            ##### Wizard and Merchant Application
            Creating chargeback cases cost retailers and merchants millions of dollars in time - so we created an application that would give them the ability to make that process easier and reduce their time spent. By using the client's aggregated data, we can build cases using retailer and transaction information. After seeing our support teams' experience in manually inputting complex client information for setup, we realized we can gather more accurate data more easily by letting the client onboard themselves - thus came the onboarding wizard. Using a lightweight, step-by-step application, clients can choose from 1 of 3 service levels, the most in-depth of which would take all of the leg work away for them.
          .spacer.spacer--50
      .row
        .col.col--4
          img(src="../images/chargebacks911/cb911-wizard-1.png" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-wizard-2.png" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-wizard-3.png" data-action="zoom")
      .row
        .col.col--4
          img(src="../images/chargebacks911/cb911-wizard-4.png" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-wizard-5.png" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-wizard-6.png" data-action="zoom")
      .row
        .col.col--12
          .spacer.spacer--50
          :markdown-it
            As part of the onboarding wizard, I created visual assets and a lightweight icon set to help illustrate selections and actions. I also included assets to help convey empty states, success states, product tiers, etc. Since we built the onboarding wizard to be white-labeled and themed for third-party partners, we made sure the visuals could be themed by utilizing the partner's brand palette.
          .spacer.spacer--50
      .row
        .col.col--12
          p(data-height="600" data-theme-id="dark" data-slug-hash="opBBpv" data-default-tab="result" data-user="ryanparag" data-pen-title="opBBpv" class="codepen") See the Pen 
          script(async src="https://static.codepen.io/assets/embed/ei.js")
          .spacer.spacer--50
      .row
        .col.col--12
          .spacer.spacer--50
          p(data-height="600" data-theme-id="dark" data-slug-hash="MvMpYv" data-default-tab="result" data-user="ryanparag" data-pen-title="MvMpYv" class="codepen") See the Pen
      .row
        .col.col--12
          .spacer.spacer--50
          :markdown-it
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat blandit leo, id molestie est dignissim eu. Morbi scelerisque vulputate mattis. Curabitur blandit porttitor leo id semper. Proin maximus fermentum quam et sollicitudin. Donec iaculis libero id augue porta dictum. Praesent pellentesque interdum ante ut faucibus. Maecenas sit amet sollicitudin mauris.
          .spacer.spacer--50
      .row
        .col.col--8.col--offset-2
          a(href="https://chargebacks911.com/emails/portal-template_upgrade.html" target="_blank")
            img(src="../images/chargebacks911/cb911-cp-1.png")
            figcaption Click to view one of the live email templates!
          .spacer.spacer--50
      .row
        .col.col--12
          :markdown-it
            After creating an account through the onboarding wizard, clients can begin managing their chargebacks and uploading their documents through the merchant portal. The merchant portal also gives users the ability to manage mutliple users, case reporting analytics, and fraudulent transaction alerts.
          .spacer.spacer--50
      .row
        .col.col--4
          img(src="../images/chargebacks911/cb911-cp-1.jpg" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-cp-2.jpg" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-cp-3.jpg" data-action="zoom")
      .row
        .col.col--4
          img(src="../images/chargebacks911/cb911-cp-4.jpg" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-cp-5.jpg" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-cp-6.jpg" data-action="zoom")
      .row
        .col.col--4
          img(src="../images/chargebacks911/cb911-cp-7.jpg" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-cp-8.jpg" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-cp-9.jpg" data-action="zoom")
    .project__content
      .row
        .col.col--12
          .spacer.spacer--50
          :markdown-it
            ##### Style Guide
            After joining Chargebacks911, I saw there wasn't a source of truth nor standardization for the brand's design language. To help instill the brand's mission, vision, and values through a codified form, we created a style guide using our newly created styles. With an organized reference guide, we could onboard other teams, partners, vendors, and third parties to our brand design language quickly and more thoroughly. **I also happen to be a huge nerd for design documentation**.
          .spacer.spacer--50
      .row
        .col.col--8.col--offset-2
          img(src="../images/chargebacks911/cb911-styles-1.png" data-action="zoom")
          .spacer.spacer--50
    .project__content
      .row
        .col.col--12
          .spacer.spacer--50
          :markdown-it
            ##### Internal Management Tool
      .row
        .col.col--2
          .spacer.spacer--25
          img(src="../images/chargebacks911/cb911-ers-9.png" data-action="zoom")
      .row
        .col.col--12
          .spacer.spacer--25
          :markdown-it
            We use an internal web application to manage and create cases for chargebacks on behalf of our clients. As the oldest application of the company, and one that houses a complex portion of the payments process, we thought we could make the user processes easier and refactor the UI's framework by:
            1. Strengthening visual hierarchy and clarifying the navigation, including designing a new icon set that is extensible and legible at small sizes
            2. Reduce and eliminate inconsistencies by establishing conventions for how pages should be laid out, how buttons should be colored and positioned depending on their purpose, and how copy should be written
            3. Finding and implementing a more appropriate interface font that prioritized load speed and legibility at smaller sizes
            4. Cleaning up and organizing the CSS, establishing and enforcing naming rules in order to help maintain consistency, reduce technical debt, and simplify future changes
          .spacer.spacer--50
      .row
        .col.col--8.col--offset-2
          img(src="../images/chargebacks911/cb911-ers-1.png" data-action="zoom")
          .spacer.spacer--50
      .row
        .col.col--4
          img(src="../images/chargebacks911/cb911-ers-2.gif" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-ers-3.png" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-ers-4.png" data-action="zoom")
      .row
        .col.col--8.col--offset-2
          .spacer.spacer--50
          img(src="../images/chargebacks911/cb911-ers-6.png" data-action="zoom")
      .row
        .col.col--4.col--offset-4
          .spacer.spacer--50
          img(src="../images/chargebacks911/cb911-ers-8.png" data-action="zoom")
      .row
        .col.col--8.col--offset-2
          .spacer.spacer--50
          img(src="../images/chargebacks911/cb911-ers-7.png" data-action="zoom")
    .project__content
      .row
        .col.col--12
          .spacer.spacer--50
          :markdown-it
            ##### Website Design and Blog
            To help solidify our product offerings and expertise, as well as organize our content through a linear site architecture, we needed to redesign the main website. While undergoing a redesign, we also needed to standardize our website components (buttons, typography, navigation menus, links, etc.). Our goal for a website redesign, similar to many other companies' website redesign goal, is to direct more traffic in hopes to ultimately find readers who would benefit from our platform. After redesigning the website and creating a greater amount of interactive content (blog posts, webinars, ebooks), we gathered higher conversion rates, more traffic, and a greater number of qualified sales leads:
          blockquote After redesigning the website and updating the content strategy, we saw 
            strong.u-text-green 200% 
            | more website traffic and 
            strong.u-text-green 100% 
            | qualified leads
          .spacer.spacer--50
      .row
        .col.col--4
          img(src="../images/chargebacks911/cb911-web-1.png" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-web-2.png" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-web-3.png" data-action="zoom")
      .row
        .col.col--12
          .spacer.spacer--50
          :markdown-it
            ##### Repsonsive Infographics
            Part of the content marketing strategy was to employ the use of infographics - the point being for others to share the infographic to gain content traction. We thought that we can make that easier and device-friendly by using The New York Times' [Adobe Illustrator plugin](http://ai2html.org/) that would render the artbooards into multiple splices of HTML for specific breakpoints. We would then host the single HTML file and use our own custom JavaScript plugin to embed the infographics with a **single line of code**.
          .spacer.spacer--50
      .row
        .col.col--4
          img(src="../images/chargebacks911/cb911-web-4.png" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-web-5.png" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-web-6.png" data-action="zoom")
    .project__content
      .row
        .col.col--12
          .spacer.spacer--50
          :markdown-it
            ##### Landing Pages and Emails
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat blandit leo, id molestie est dignissim eu. Morbi scelerisque vulputate mattis. Curabitur blandit porttitor leo id semper. Proin maximus fermentum quam et sollicitudin. Donec iaculis libero id augue porta dictum. Praesent pellentesque interdum ante ut faucibus. Maecenas sit amet sollicitudin mauris.
          .spacer.spacer--50
      .row
        .col.col--4
          img(src="../images/chargebacks911/cb911-lp-1.png" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-lp-2.png" data-action="zoom")
        .col.col--4
          img(src="../images/chargebacks911/cb911-lp-3.png" data-action="zoom")
.container
  .row
    .col.col--12
      .spacer.spacer--75