.project
  .project__hero.project__hero--disputelab
    img.project__hero-image(src="../images/disputelab/disputelab-header.png")
  .container
    .row
      .col.col--12
        .project__header
          .spacer.spacer--75
          :markdown-it
            ## DisputeLab
            ##### Payments and Large Data Management for Banks
          .project__border
        .spacer.spacer--25
    .row
      .col.col--6
        .project__role.flex-grid
          .project__icon
            include ../_icon-user
          .flex-grid__col
            strong.u-display-block My Role
            span Conduct user research, sketch, mockup static interfaces, front-end development, illustrate icons, outline usability testing, and design feature workflows.
      .col.col--6
        .project__role.flex-grid
          .project__icon
            include ../_icon-flag
          .flex-grid__col
            strong.u-display-block The Challenge
            span Optimizing the transaction dispute process through intelligent case building/sorting and bridging the inefficiencies between banks and credit card companies.
    .spacer.spacer--50
    .row
      .col.col--12
        :markdown-it
          ##### Sections
          Navigate to one of the sections:
    .row
      .col.col--3
        a.project__role.u-display-block(data-type="page-transition" href="#overview")
          strong Overview
      .col.col--3
        a.project__role.u-display-block(data-type="page-transition" href="#designSystem")
          strong  Design System
      .col.col--3
        a.project__role.u-display-block(data-type="page-transition" href="#buildCases")
          strong  Building New Documents
      .col.col--3
        a.project__role.u-display-block(data-type="page-transition" href="#workCases")
          strong  Working Dispute Cases
    .row
      .col.col--3
        a.project__role.u-display-block(data-type="page-transition" href="#reconfigNav")
          strong Reconfiguring the Navigation
      .col.col--3
        a.project__role.u-display-block(data-type="page-transition" href="#rules")
          strong  Prioritizing Disputes with Rules
      .col.col--3
        a.project__role.u-display-block(data-type="page-transition" href="#merchantAdmin")
          strong  Managing Disputes with Rules
      .col.col--3
        a.project__role.u-display-block(data-type="page-transition" href="#pend")
          strong  Pausing the Workflow
    .row
      .col.col--3
        a.project__role.u-display-block(data-type="page-transition" href="#reports")
          strong Creating Custom Reports
      .col.col--3
        a.project__role.u-display-block(data-type="page-transition" href="#permissions")
          strong  Toggling User Permissions
      .col.col--3
        a.project__role.u-display-block(data-type="page-transition" href="#emails")
          strong  Email Notifications
      .col.col--3
        a.project__role.u-display-block(data-type="page-transition" href="#marketing")
          strong  Marketing
    .spacer.spacer--50
    .row#overview
      .col.col--12
        :markdown-it
          ##### Overview
          In a world where credit card transactions are increasing exponentially, we saw that banks (credit card acquirers), handling the disputes sent from retailers could use a more efficient platform to help them process more disputes.
    .row
      .col.col--12
        blockquote
          :markdown-it
            **What is a dispute?**
            
            A dispute is just another term for a chargeback. A merchant or retailer may use the term *chargeback* while a bank or card scheme might use *dispute*.
            
            When customers file a chargeback with their card issuer, this means that they are disputing a charge and request the card issuer for a refund. A chargeback is a transaction that a card issuer returns to an acquirer as a financial liability and which, in turn, an acquirer may return to the merchant. There are three common reasons for chargeback including fraud, processing errors, other disputes (e.g. customer disputes). The card schemes define the chargeback process, rules and regulations.
    .row
      .col.col--12
        :markdown-it
          One of my major responsibilities whilst at Chargebacks911 was the designing the UI system and features for DisputeLab — a new dispute optimization and productivity tool aimed at large banks. DisputeLab's readily-integrated platform allows for the sorting, filtering, and optimizing of millions of transactions and disputes. By integrating directly to credit card schemes, users can eliminate the need for jumping to each credit card's proprietary applications to add dispute information.
          
          DisputeLab also gives users the power to:
          - **Manage small teams**
          - **Filter cases using rules**
          - **Custom-tailor the antiquated process of handling the disputed transactions their clients receive**
          
          As the only designer, and with a blank slate, it was great being able to help create what the workflow for a bank working between it's clients (retailers) and credit card companies could look like in DisputeLab. Over several months, I, along with a small team of 5, worked to produce a fresh new take on enterprise banking software for disputes.
        .spacer.spacer--50
    .project__content
      .row
        .col.col--8.col--offset-2
          img(src="../images/disputelab/dl-dashboard.png" data-action="zoom")
          figcaption (Above) Dashboard
          .spacer.spacer--50
      .row
        .col.col--8.col--offset-2
          img(src="../images/disputelab/dl-process.png" data-action="zoom")
          figcaption (Above) Early exploration of process architecture
          .spacer.spacer--50
      .row
        .col.col--8.col--offset-2
          img(src="../images/disputelab/dl-map.jpg" data-action="zoom")
          figcaption High-level journey map
          .spacer.spacer--50
      .row
        .col.col--8.col--offset-2
          img(src="../images/disputelab/dl-map-2.png" data-action="zoom")
          figcaption User journey for normal and admin users
      .spacer.spacer--50
      .row
        .col.col--12
          :markdown-it
            As the sole designer on the team, I thought it would be easy to not only keep track of **in progress** designs through a simple list in which developers, PM's, and support teams could easily sift through, but also be a way great way to test a few expiremental UI components.
            
            While we've used tools such as InVision, Axure, and simple PDF's before for step-by-step UI walkthroughs, it seemed as though I receieved *feedback quicker and more efficiently by using Google Slides* - so I made sure each list item linked to the respective feature document.
            
            The simple list was built using simple BEM-flavored HTML, SCSS, modern JS, and the design tokens we've used across DisputeLab - along with a few experimental features (CSS Variables, dark mode toggles, etc.).
      .spacer.spacer--50
      .row
        .col.col--8.col--offset-2
          img(src="../images/disputelab/ui-list.png" data-action="zoom")
          figcaption Simple List documenting the respective feature design documentation
      .spacer.spacer--50
      .row#designSystem
        .col.col--12
          :markdown-it
            ##### Design System
            One of the pain points I came across designing the [applications for merchants](../chargebacks911) was the inconsistency in experience and unorganized styles for components. We thought if the DisputeLab team had access to a source of truth for the design of the UI, we could aim for consistency and can embed UX principles directly in our component design. Finding time to document our UI while still designing features was another story - it was simply going to take a little extra effort. I rolled up my sleeves and began building a unified style guide for our product.
            
            It was clear that as the devlopment team and volume of work was growing, the inconsistencies across the product were as well. Not only that, but newer parts of the product clashed with the legacy features, making the ecosystem kind of jarring for the end-user. If I could build a style guide and a source of truth with our UI components, we could help stop the use of bespoke code while still increasing the speed at which we can develop.
            
            **So we created Prelude Design System** as a style guide for DisputeLab's UI.
        .row
          .col.col--4.col--offset-4
            .spacer.spacer--50
            img(src="../images/disputelab/prelude-logo.svg" data-action="zoom")
            figcaption (Above) logo for the design system
            .spacer.spacer--100
        .row
          .col.col--8.col--offset-2
            img(src="../images/disputelab/dl-prelude-1.png" data-action="zoom")
            .spacer.spacer--50
        .row
          .col.col--12
            :markdown-it
              Inside the documentation, we not only laid out the foundation for how our components should look and operate, but also how our CSS and JS should be written - thereby creating a standardization for a growing team. We decided we would utilize BEM and OOCSS for our stylesheets and abide by AirBnb's rules for writing our JS.
              
              We also kept a running state of the progress of our components within the documentation (below)
            blockquote
              h5
                a.link(href="https://ryan-parag.github.io/drm-docs/index/" target="_blank") Take a look at the design system
        .row
          .col.col--8.col--offset-2
            img(src="../images/disputelab/dl-prelude-2.png" data-action="zoom")
            .spacer.spacer--50
        .row
          .col.col--4
            img(src="../images/disputelab/dl-prelude-3.png" data-action="zoom")
          .col.col--4
            img(src="../images/disputelab/dl-prelude-4.png" data-action="zoom")
          .col.col--4
            img(src="../images/disputelab/dl-prelude-5.png" data-action="zoom")
        .row#buildCases
          .col.col--12
            .spacer.spacer--50
            :markdown-it
              ##### Build case documents
              Users can utilize the template editor to create rich text documents to supplement their clients' dispute cases. Users have the ability to type rich text, insert images, drag merchant and case tokens (placeholder data pull from the clients' data).
        .row
          .col.col--8.col--offset-2
            img(src="../images/disputelab/dl-template.png" data-action="zoom")
        .row#workCases
          .col.col--12
            .spacer.spacer--50
            :markdown-it
              ##### Finalize dispute cases and send
              Users can compile documents for their clients' dispute cases, edit individual pdf pages, redact information, add notes, review information, route cases to a queue, and send to the credit card company directly through DisputeLab.
        .row
          .col.col--6
            img(src="../images/disputelab/dl-cm.png" data-action="zoom")
            figcaption Table view of dispute cases
          .col.col--6
            img(src="../images/disputelab/dl-work.png" data-action="zoom")
            figcaption Early exploration of working a case
        .spacer.spacer--25
        .row
          .col.col-12
            h5 Version 1
        .row
          .col.col--2
            img(src="../images/disputelab/dl-work-1.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-work-2.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-work-3.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-work-4.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-work-5.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-work-6.png" data-action="zoom")
        .row
          .col.col--2
            img(src="../images/disputelab/dl-work-8.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-work-9.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-work-10.png" data-action="zoom")
        .row
          .col.col-12
            h5 Version 2
        .row
          .col.col--2
            img(src="../images/disputelab/dl-nwc1.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-nwc2.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-nwc3.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-nwc4.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-nwc5.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-nwc6.png" data-action="zoom")
        .row
          .col.col--2
            img(src="../images/disputelab/dl-nwc7.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-nwc8.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-nwc9.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-nwc10.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-nwc11.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-nwc12.png" data-action="zoom")
        .row
          .col.col--8.col--offset-2
            .spacer.spacer--50
            a(target="_blank" href="https://codepen.io/ryanparag/full/rQZLQm/")
              img(src="../images/disputelab/dl-work-7.png")
              figcaption Click to view layout markup
        .row#reconfigNav
          .col.col--12
            .spacer.spacer--50
            :markdown-it
              ##### Reconfiguring the navigation
              As more and more features are added by stakeholders, we needed a way to organize the navigation items in the sidebar navigation. We didn't want to hide prominent items offscreen, so we came up with a solution to have drawers for our navigation items in the sidebar.
        .row
          .col.col--8.col--offset-2
            img(src="../images/disputelab/dl-sidebar.png" data-action="zoom")
        .row#rules
          .col.col--12
            .spacer.spacer--50
            :markdown-it
              ##### Building Rules for easier workflows
              One of the main pain points our clients were having with their legacy processes was the tedious workflow caused by non-automated workflows. With a numerous amount of credit card disputes coming from the exponential growth in credit casrd transactions, dispute teams at banks needed a way to route, filter, and take action on large batches of cases coming through their system.
              
              Using DisputeLab's rule engine, users are able to create modular rules targeting specific criteria, and subsequently take various types of actions (eg. assigning, declining, routing, pausing) on these disputes.
              
              We also separated the rule engine into two parts:
              - Single, interval rules
              - Sequential rule groups
              
              Rule groups allowed users to build rules in grouped sequences; part of an encapsulated `if/else` scenario.
        .row
          .col.col--12
            h5.u-text-green Single, interval rules
        .row
          .col.col--2
            img(src="../images/disputelab/dl-rules1.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rules2.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rules3.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rules4.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rules5.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rules6.png" data-action="zoom")
        .row
          .col.col--2
            img(src="../images/disputelab/dl-rules7.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rules8.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rules9.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rules10.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rules11.png" data-action="zoom")
        .row
          .col.col--12
            h5.u-text-green Sequential rule groups
        .row
          .col.col--2
            img(src="../images/disputelab/dl-rg3.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rg4.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rg5.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rg6.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rg7.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rg8.png" data-action="zoom")
        .row
          .col.col--2
            img(src="../images/disputelab/dl-rg9.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rg10.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rg11.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rg12.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rg13.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-rg14.png" data-action="zoom")
        .row#merchantAdmin
          .col.col--12
            .spacer.spacer--50
            :markdown-it
              ##### Merchant Admin
              Our users needed a way to manage their clients, in this case an acquiring bank's clients are retailers and merchants. With the Merchant Admin page, clients can:
              - Select communication methods
              - View communication history
              - View merchant details
              - Create notes that would tag all disputes from that merchant
              
            p
              a(href="https://codepen.io/ryanparag/pen/eLNvRO" target="_blank") View the markup of the admin page
              | or 
              a(href="https://codepen.io/ryanparag/pen/rZLRQj" target="_blank") view the communication component
              | .
        .row
          .col.col--4
            img(src="../images/disputelab/dl-merchant-1.png" data-action="zoom")
          .col.col--4
            img(src="../images/disputelab/dl-merchant-2.png" data-action="zoom")
          .col.col--4
            img(src="../images/disputelab/dl-merchant-3.png" data-action="zoom")
        .row
          .col.col--4
            img(src="../images/disputelab/dl-merchant-4.png" data-action="zoom")
          .col.col--4
            img(src="../images/disputelab/dl-merchant-5.png" data-action="zoom")
          .col.col--4
            img(src="../images/disputelab/dl-merchant-6.png" data-action="zoom")
        .row
          .col.col--4
            img(src="../images/disputelab/dl-merchant-7.png" data-action="zoom")
          .col.col--4
            img(src="../images/disputelab/dl-merchant-8.png" data-action="zoom")
          .col.col--4
            img(src="../images/disputelab/dl-merchant-9.png" data-action="zoom")
        .row
          .col.col--4
            img(src="../images/disputelab/dl-merchant-10.png" data-action="zoom")
          .col.col--4
            img(src="../images/disputelab/dl-merchant-11.png" data-action="zoom")
          .col.col--4
            img(src="../images/disputelab/dl-merchant-12.png" data-action="zoom")
        .row#pend
          .col.col--12
            .spacer.spacer--50
            :markdown-it
              ##### Pend Cases
              Since credit card companies have deadlines on dispute cases, banks felt the need to prioritize the workload of dispute cases efficiently. We created the Pend feature to allow users to pause cases and remove it from their personal bucket of working cases. When pausing a case, they can choose when it would pop back into their bucket of working cases, and even add it back into the bucket of working cases for a team or group.
        .row
          .col.col--8.col--offset-2
            a(href="https://codepen.io/ryanparag/pen/bxgzGN" target="_blank")
              img(src="../images/disputelab/dl-pend-main.png")
              figcaption View a static prototype of the form
              .spacer.spacer--50
        .row
          .col.col--2
            img(src="../images/disputelab/dl-pend-1.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-pend-2.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-pend-3.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-pend-4.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-pend-5.png" data-action="zoom")
        .row
          .col.col--12
            img(src="../images/disputelab/dl-pend-grid.png" data-action="zoom")
        .row#reports
          .col.col--12
            .spacer.spacer--50
            :markdown-it
              ##### Custom Reports
             Admins users needed a way to view the tracking of teams, dispute resolutions, and periodic metrics. We needed a way for an admin user to:
             - Build custom queries within an interface
             - Schedule report generation
             - Query custom fields across dispute or user data sets
             - Allow for mulptiple export formats
             
             We came up with a simple table view for users to view and toggle all of their currently-scheduled reports, as well as an interface to create custom-queried reports for user or dispute metrics. Users can schedule the generation of reports for custom lengths of time and schedule them to be generated periodically.
        .row
          .col.col--8.col--offset-2
            a(href="https://codepen.io/ryanparag/full/OBVBRX/" target="_blank")
              img(src="../images/disputelab/dl-reports-main.png")
              figcaption View a static prototype of the report builder layout
              .spacer.spacer--50
        .row
          .col.col--2
            img(src="../images/disputelab/dl-reports-1.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-reports-2.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-reports-3.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-reports-4.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-reports-5.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-reports-6.png" data-action="zoom")
        .row
          .col.col--2
            img(src="../images/disputelab/dl-reports-7.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-reports-8.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-reports-9.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-reports-10.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-reports-11.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-reports-12.png" data-action="zoom")
        .row
          .col.col--2
            img(src="../images/disputelab/dl-reports-13.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-reports-14.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-reports-15.png" data-action="zoom")
        .row#permissions
          .col.col--12
            .spacer.spacer--50
            :markdown-it
              ##### Permissions
             We needed a way for admin users to toggle features on system and custom roles through an easy-to-use interface. One of the complex elements about permissions is the fact that permissions work in hierarchy:
             - Page permissions
             - Feature permissions
             
             We built simple toggles for each page, alongside micro feature toggles respective to each page.
        .row
          .col.col--2
            img(src="../images/disputelab/dl-permission1.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-permission2.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-permission3.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-permission4.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-permission5.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-permission6.png" data-action="zoom")
        .row
          .col.col--2
            img(src="../images/disputelab/dl-permission7.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-permission8.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-permission9.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-permission10.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-permission11.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-permission12.png" data-action="zoom")
        .row
          .col.col--2
            img(src="../images/disputelab/dl-permission13.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-permission14.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-permission15.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-permission16.png" data-action="zoom")
          .col.col--2
            img(src="../images/disputelab/dl-permission18.png" data-action="zoom")
        .row#emails
          .col.col--12
            .spacer.spacer--50
            :markdown-it
              ##### Email Notifications
            p We used 
              a(href="https://mjml.io/" target="_blank") MJML
              | &nbsp;, a React-based email syntax for building bulletproof emails, to put together our email notifications for:
            ul
              li Password changes
              li Account creations
              li Letter emails
              li Task alerts
              li Account changes
            img(src="../images/disputelab/dl-email-1.png" data-action="zoom")
            .spacer.spacer--25
            img(src="../images/disputelab/dl-email-2.png" data-action="zoom")
        .row
          .col.col--12
            .spacer.spacer--50
            :markdown-it
              ##### Errors
              In case a user encountered a missing link, they would be forwarded to an error page, while also pinging our support teams of an error
        .row
          .col.col--8.col--offset-2
            img(src="../images/disputelab/dl-prelude-6.png" data-action="zoom")
        .row#marketing
          .col.col--12
            :markdown-it
              ##### Landing Pages
              Although **DisputeLab** isn't public yet, we played around with a few introductory ideas when we would subsequently look for our first enterprise clients after beta testing with some of our existing clients. If conversion testing proved well, we would hopefully add testimonials from our beta clients to validate the product in the eyes of prospective clients.
              
              I put together some of our strongest value prpositions of our application and tailored it to sectionable content. To work quickly, I utilized Pug (HTML), SCSS, and vanilla JS to create a super lightweight landing page without any external dependencies.
        .row
          .col.col--6.col--offset-3
            a(href="../test/dl" target="_blank")
              img(src="../images/disputelab/dl.gif")
              figcaption
                small Landing page idea
        .row
          .col.col--12
            :markdown-it
              ##### User Training & Documentation
              To help users understand how to use the basic and complex features of DisputeLab, we needed to build out a documentation site. We also needed a way for non-dev members to add/edit content on each documentation site.
              
              Along with the tutorial documentation, enterprise clients would probably need to utilize a status page to keep track of the handful of testing versions of the application and API. Rather than use the full weight of DisputeLab's UI, I thought to create a **lightweight version** of the UI using the design tokens we use within the application.
              
              Also, since we were moving the front-end portions of DisputeLab towards a React build, we thought Gatsby.js might be a nice way to migrate and test how a few of the basic components might function within a modern JS framework. Gatsby also had the ability to utilize Netlify, an open-source CMS, so team members could add/edit new content without having to dive into the code.
        .spacer.spacer--50      
        .row
          .col.col--8.col--offset-2
            img(src="../images/disputelab/drm-docs.png" data-action="zoom")
            figcaption
              small Documentation Site
            .spacer.spacer--50
        .row
          .col.col--8.col--offset-2
            img(src="../images/disputelab/drm-status.png" data-action="zoom")
            figcaption
              small Application and API Status Page
            .spacer.spacer--50
        .row
          .col.col--12
            p.codepen(data-height='600', data-theme-id='0', data-default-tab='result', data-user='ryanparag', data-slug-hash='c12cfd3ea2695c68b7d23a6798783f58', style='height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid black; margin: 1em 0; padding: 1em;', data-pen-title='Status Page docs')
            script(async='', src='https://static.codepen.io/assets/embed/ei.js')

            
.container
  .row
    .col.col--6.col--offset-3
      include ../_more-work
