.project
  .project__hero.project__hero--illustrations
    img.project__hero-image(src="../images/illustrations/illustration-header.png")
  .container
    .row
      .col.col--12
        .project__header
          .spacer.spacer--75
          :markdown-it
            ## Misc. Illsutrations
            ##### A collection of illustrations from past projects
          .project__border
        .spacer.spacer--25
    .project__role.flex-grid.u-align-center
        .project__icon
          include ../_icon-user
        .flex-grid__col
          strong.u-display-block Specifications
          span Sketches, illustrations, visual design
    .spacer.spacer--50
    .row
      .col.col--6
        img(src="../images/illustrations/misc2.jpg" data-action="zoom")
      .col.col--6
        img(src="../images/illustrations/misc3.jpg" data-action="zoom")
    .row
      .col.col--6
        img(src="../images/illustrations/juiced.gif" data-action="zoom")
      .col.col--6
        img(src="../images/illustrations/grapa.gif" data-action="zoom")
    .row
      .col.col--4
        img(src="../images/illustrations/misc4.jpg" data-action="zoom")
      .col.col--4
        img(src="../images/illustrations/misc5.jpg" data-action="zoom")
      .col.col--4
        img(src="../images/illustrations/misc6.jpg" data-action="zoom")
    .row
      .col.col--4
        img(src="../images/illustrations/misc7.jpg" data-action="zoom")
      .col.col--4
        img(src="../images/illustrations/misc8.jpg" data-action="zoom")
      .col.col--4
        img(src="../images/illustrations/misc9.jpg" data-action="zoom")
    .row
      .col.col--6
        img(src="../images/illustrations/f1.gif" data-action="zoom")
      .col.col--6
        img(src="../images/illustrations/icecream.gif" data-action="zoom")
    .row
      .col.col--6
        img(src="../images/illustrations/misc16.png" data-action="zoom")
      .col.col--6
        img(src="../images/illustrations/misc17.png" data-action="zoom")
    .row
      .col.col--3
        img(src="../images/illustrations/misc10.jpg" data-action="zoom")
      .col.col--3
        img(src="../images/illustrations/misc12.jpg" data-action="zoom")
      .col.col--3
        img(src="../images/illustrations/misc19.jpg" data-action="zoom")
      .col.col--3
        img(src="../images/illustrations/misc20.jpg" data-action="zoom")
    .row
      .col.col--12
        img(src="../images/illustrations/misc11.jpg" data-action="zoom")
        img(src="../images/illustrations/misc13.jpg" data-action="zoom")
        img(src="../images/illustrations/misc14.jpg" data-action="zoom")
        img(src="../images/illustrations/misc15.jpg" data-action="zoom")
.container
  .row
    .col.col--6.col--offset-3
      include ../_more-work