.project
  .project__hero.project__hero--patellinis
    img.project__hero-image(src="../images/patellinis/patellinis-header.png")
  .container
    .row
      .col.col--12
        .project__header
          .spacer.spacer--75
          :markdown-it
            ## Patellini's
            ##### Branding and assets for an Italian restaurant
          .project__border
        .spacer.spacer--25
    .project__role.flex-grid.u-align-center
        .project__icon
          include ../_icon-user
        .flex-grid__col
          strong.u-display-block Specifications
          span Branding, print design, illustration, packaging
    .spacer.spacer--50
    .row
      .col.col--12
        :markdown-it
          ##### Overview
          Patellini’s Pizza has been family owned and operated for over 20 years and in that time they have continually refined and improved their menu to create a unique New York Style Pizza. They believe in providing quality food at value prices. All items are made to order using only the freshest farm sourced ingredients.
        .spacer.spacer--100
    .project__content
      .row
        .col.col--6
          img(src="../images/patellinis/patellinis2.jpg" data-action="zoom")
        .col.col--6
          img(src="../images/patellinis/patellinis3.jpg" data-action="zoom")
      .spacer.spacer--50
      .row
        .col.col--12
          :markdown-it
            ##### The Design
            Though Patellini’s Pizza’s products stand on their own, they wanted the visual aspect of their brand to be well built. Rebranding through menus, signage, stationary, apparel, and packaging helped match the business’s ethos to the new brand assets.
            
            Branded Signage and corresponding assets helped solidify Patellini's newly redesigned image.
      .row
        .col.col--6
          img(src="../images/patellinis/patellinis4.jpg" data-action="zoom")
        .col.col--6
          img(src="../images/patellinis/patellinis9.jpg" data-action="zoom")
      .row
        .col.col--4
          .spacer.spacer--50
          img(src="../images/patellinis/patellinis5.jpg" data-action="zoom")
        .col.col--4
          .spacer.spacer--50
          img(src="../images/patellinis/patellinis6.jpg" data-action="zoom")
        .col.col--4
          .spacer.spacer--50
          img(src="../images/patellinis/patellinis8.jpg" data-action="zoom")
      .row
        .col.col--6.col--offset-3
          .spacer.spacer--50
          img(src="../images/patellinis/patellinis7.jpg" data-action="zoom")
.container
  .row
    .col.col--6.col--offset-3
      include ../_more-work