.project
  .project__hero
    img.project__hero-image(src="http://via.placeholder.com/300x300")
  .container
    .row
      .col.col--12
        .project__header
          .spacer.spacer--75
          :markdown-it
            ## Project Title
            ##### Subtitle and Project Description
          .project__border
        .spacer.spacer--25
    .project__role.flex-grid.u-align-center
        .project__icon
          include ../_icon-user
        .flex-grid__col
          strong.u-display-block My Role
          span Conduct user research, sketch, mockup static interfaces, illustrate icons, and code the real thing.
    .spacer.spacer--50
    .row
      .col.col--12
        :markdown-it
          ##### Overview
          With the spur of economic interest and rebounding economy in Tampa Bay, the City of Tampa's Community Redevelopment Agency created a strategy to target and proliferate the growth in specific areas of the Tampa locale. The City's proposal can be found here. Shown below is a re-interpretation of this proposal so that the information can be presented in a more accessible, fun, and engaging format. The structure of the print and web piece divides sections using bold colors, making for an easier navigating experience.
        .spacer.spacer--100
    .project__content
      .row
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
        .col.col--4
          img(src="http://via.placeholder.com/900x700" data-action="zoom")
.container
  .row
    .col.col--12
      .spacer.spacer--75