.project
	.container
		.row
			.col.col--12
				.project__header
					.spacer.spacer--75
					h2 Project Title
					h5 Subtitle and Project Description
					.project__border
				.spacer.spacer--75
		.row
			.col.col--12
				h5 Overview
				p With the spur of economic interest and rebounding economy in Tampa Bay, the City of Tampa's Community Redevelopment Agency created a strategy to target and proliferate the growth in specific areas of the Tampa locale. The City's proposal can be found here. Shown below is a re-interpretation of this proposal so that the information can be presented in a more accessible, fun, and engaging format. The structure of the print and web piece divides sections using bold colors, making for an easier navigating experience.
				.spacer.spacer--100
		.project__content
			.row
				.col.col--4
					img(src="http://via.placeholder.com/900x700" data-action="zoom")
				.col.col--4
					img(src="http://via.placeholder.com/900x700" data-action="zoom")
				.col.col--4
					img(src="http://via.placeholder.com/900x700" data-action="zoom")
.container
	.row
		.col.col--12
			.spacer.spacer--75