.project
  .project__hero.project__hero--tampa
    img.project__hero-image(src="../images/tampa-redevelopment/tampa_header.png")
  .container
    .row
      .col.col--12
        .project__header
          .spacer.spacer--25
          :markdown-it
            ## Tampa Community Redevelopment Agency
            ##### Case Study: Print Design, Illustration, UI/UX
          .project__border
        .spacer.spacer--25
    .project__role.flex-grid.u-align-center
        .project__icon
          include ../_icon-user
        .flex-grid__col
          strong.u-display-block My Role
          span Conduct user research, sketch, mockup static interfaces, illustrate icons, and code the real thing.
    .spacer.spacer--50
    .row
      .col.col--12
        :markdown-it
          ##### Overview
          With the spur of economic interest and rebounding economy in Tampa Bay, the City of Tampa's Community Redevelopment Agency created a strategy to target and proliferate the growth in specific areas of the Tampa locale. The City's proposal can be found here. Shown below is a re-interpretation of this proposal so that the information can be presented in a more accessible, fun, and engaging format. The structure of the print and web piece divides sections using bold colors, making for an easier navigating experience. [View the City of Tampa's original document](http://www.tampagov.net/sites/default/files/economic-and-urban-development/files/fy16_budget_book_0.pdf)
        .spacer.spacer--50
    .project__content
      .row
        .col.col--4
          img(src="../images/tampa-redevelopment/tampa_2.jpg" data-action="zoom")
        .col.col--4
          img(src="../images/tampa-redevelopment/tampa_3.png" data-action="zoom")
        .col.col--4
          img(src="../images/tampa-redevelopment/tampa_4.png" data-action="zoom")
      .spacer.spacer--50
    .row
      .col.col--12
        :markdown-it
          The visual aspects of the print proposal can help add distinct branding to the City's overall redevelopment campaign as well. Digital newsletter updates, as well as an online version of the redevelopment proposal, may utilize the bold colors and engaging format to make for a more cohesive and well-communicated campaign.
    .spacer.spacer--50
    .project__content
      .row
        .col.col--6
          img(src="../images/tampa-redevelopment/tampa_1.png" data-action="zoom")
        .col.col--4.col--offset-2
          img(src="../images/tampa-redevelopment/tampa_8.gif" data-action="zoom")
      .spacer.spacer--50
    .row
      .col.col--12
        :markdown-it
      .spacer.spacer--50
    .project__content
      .row
        .col.col--4
          img(src="../images/tampa-redevelopment/tampa_5.png" data-action="zoom")
        .col.col--4
          img(src="../images/tampa-redevelopment/tampa_6.png" data-action="zoom")
        .col.col--4
          img(src="../images/tampa-redevelopment/tampa_7.png" data-action="zoom")
      .row
        .col.col--6.col--offset-3
          include ../_more-work
      .spacer.spacer--75