.project
  .project__hero.project__hero--world-rugby
    img.project__hero-image(src="../images/world-rugby/wr-header.png")
  .container
    .row
      .col.col--12
        .project__header
          .spacer.spacer--75
          :markdown-it
            ## World Rugby
            ##### Print design for a campaign proposal
          .project__border
        .spacer.spacer--25
    .project__role.flex-grid.u-align-center
        .project__icon
          include ../_icon-user
        .flex-grid__col
          strong.u-display-block Specifications
          span Print proposal for a Women's World Rugby campaign
    .spacer.spacer--50
    .row
      .col.col--12
        :markdown-it
          ##### The Opportunity
          Working with World Rugby under a joint brand named 'World Rugby Administrators Academy', The World Academy of Sport were looking for a report layout of their newly drafted strategy proposal.
        .spacer.spacer--100
    .project__content
      .row
        .col.col--6
          img(src="../images/world-rugby/worldrugby2.jpg" data-action="zoom")
        .col.col--6
          img(src="../images/world-rugby/worldrugby3.jpg" data-action="zoom")
      .row
        .col.col--12
          img(src="../images/world-rugby/worldrugby1.jpg" data-action="zoom")
      .row
        .col.col--12
          .spacer.spacer--50
          :markdown-it
            ##### The Reason
            The report was made to be in two distinct sections and was also created to be incredibly flexible. Using the World Rugby brand guidelines, custom-designed charts were also included alongside the information.
          .spacer.spacer--50
      .row
        .col.col--4
          img(src="../images/world-rugby/worldrugby4.jpg" data-action="zoom")
        .col.col--4
          img(src="../images/world-rugby/worldrugby5.jpg" data-action="zoom")
        .col.col--4
          img(src="../images/world-rugby/worldrugby6.jpg" data-action="zoom")
      .spacer.spacer--50
      .row
        .col.col--4
          img(src="../images/world-rugby/worldrugby7.jpg" data-action="zoom")
        .col.col--4
          img(src="../images/world-rugby/worldrugby8.jpg" data-action="zoom")
        .col.col--4
          img(src="../images/world-rugby/worldrugby9.jpg" data-action="zoom")
.container
  .row
    .col.col--6.col--offset-3
      include ../_more-work