extends _layouts/_base

block head_end
	link(rel="stylesheet" href="css/main.min.css")


block content
	include _partials/_header
	script.
		const toggle = document.querySelector('.toggle');
		toggle.addEventListener('click', () => {
			toggle.classList.toggle('active');
		});