extends _layouts/_base

block head_end
  style.
    body {
      background: #F5F5F5;
    }
  meta(name="viewport" content="width=device-width, user-scalable=no")

block variables
  - var pageID ="Sorry, this project is protected";
  - var pageDest = "";

block content
  include _partials/_login-cb911
block body_end
  script(src="../js/login.js")