.intro
	.container
		.row
			.col.col--4.col--offset-4.u-ta-center
				.intro__hero-icon
					span &#x1f635;
				h1 Oops!
				p Looks like there's nothing here. Try again or head back to the 
					a.link(href="#") home page
					| .