.container
	.row
		.col.col--offset-3.col--6
			.spacer.spacer--100
			:markdown-it
				## Designer, problem solver, and gummy-eating champ 🍭
				**Currently a Product Designer @ Chargebacks911 where I help sketch, prototype, and design digital solutions, product experiences, and visual assets.**
				
				I’m driven to learn why people do what they do so I can create experiences that are intuitive and successful. I’ve helped rethink, prototype and design solutions to help bring empathy and simplicty into complex problems.
				
				If you'd like to learn more about my experience or challenge me to a few laps in Gran Turismo 🕹, [get in touch](parag.ryan@gmail.com), [view my résumé](../resume/), or [download a pdf version](https://www.google.com)
			.spacer.spacer--100