.container
  .row
    .spacer.spacer--100
    .spacer.spacer--100
  .row
    .col.col--5
      h1 Hey, I'm Ryan
      h3 Designer,  problem solver, and 
        span.u-text-green#textRotate
      .spacer.spacer--25
        include _connect-bar
      .spacer.spacer--25
    .col.col--6.col--offset-1
      :markdown-it
        **I'm a product designer that helps sketch, prototype, and design digital solutions, product experiences, and visual assets.**
        
        I currently reside in Tampa,FL, where I help build a problem-solving platform for payments @ [Chargebacks911](https://chargebacks911.com)  
        
        I’m driven to learn why people do what they do so I can create experiences that are intuitive and successful. I’ve helped rethink, prototype and design solutions to help bring empathy and simplicty into complex problems - *which is a fancier way of saying I help things make sense*.
        
        If you'd like to learn more about my experience or challenge me to a few laps in Gran Turismo 🕹, [view my résumé](../resume/), or [get in touch](mailto:parag.ryan@gmail.com).
  hr
  .row
    .col.col--6
      include _more-work
      .spacer.spacer--100
    .col.col--6
      h5 Current Interests:
      .project__role.flex-grid.u-align-center
        .project__icon
          include _icon-user
        .flex-grid__col
          span Learning how to better utilize 
            a.link(href="https://johnmaeda.github.io/index.html#12" target="_blank") Computational Design Methods
      .project__role.flex-grid.u-align-center
        .project__icon
          include _icon-flag
        .flex-grid__col
          span Chillin' with my homies on the go-kart track
      .spacer.spacer--100