.connect
	a.connect__icon.connect__icon--mail(href="#")
		include _icon-mail
	a.connect__icon.connect__icon--behance(href="#" target="_blank")
		include _icon-behance
	a.connect__icon.connect__icon--codepen(href="#" target="_blank")
		include _icon-codepen
	a.connect__icon.connect__icon--github(href="#" target="_blank")
		include _icon-github