.connect
  a.connect__icon.connect__icon--mail(href="mailto:parag.ryan@gmail.com?Subject=Hey Ryan")
    include _icon-mail
  a.connect__icon.connect__icon--dribbble(href="https://dribbble.com/ryanparag" target="_blank")
    include _icon-dribbble
  a.connect__icon.connect__icon--codepen(href="https://codepen.io/ryanparag" target="_blank")
    include _icon-codepen
  a.connect__icon.connect__icon--github(href="https://github.com/ryan-parag" target="_blank")
    include _icon-github
  a.connect__icon.connect__icon--behance(href="https://behance.net/grapa" target="_blank")
    include _icon-behance
  a.connect__icon.connect__icon--resume(href="../resume")
    include _icon-file