footer.footer
  .footer__body
    .container
      .flex-grid.footer__grid.flex-grid--md
        .flex-grid__col
          strong.footer__text Designed and Developed by
            br
            | Ryan Parag &copy; 2018
        .flex-grid__col
          include _connect-bar