.container.o-grid
  .row.o-grid__row
    .col.col--1.o-grid__column
    .col.col--1.o-grid__column
    .col.col--1.o-grid__column
    .col.col--1.o-grid__column
    .col.col--1.o-grid__column
    .col.col--1.o-grid__column
    .col.col--1.o-grid__column
    .col.col--1.o-grid__column
    .col.col--1.o-grid__column
    .col.col--1.o-grid__column
    .col.col--1.o-grid__column
    .col.col--1.o-grid__column
