header.header
	.header__stripe
	.header__body
		.container
			.flex-grid.header__grid
				include _logo
				ul.nav
					li.nav__item
						a.nav__link(href="work/") Work
					li.nav__item
						a.nav__link(href="about/") About
					li.nav__item
						include _toggle
.container
	.row
		.col.col--12
			.spacer.spacer--100