header.header
	.header__stripe
	.header__body
		.container
			.flex-grid
				.flex-grid__col.header__col.header__col--left
					include _logo
				.flex-grid__col.header__col.header__col--right
					ul.nav
						li.nav__item
							a.nav__link(href="#") Link 1
						li.nav__item
							a.nav__link(href="#") Link 2
						li.nav__item
							a.nav__link(href="#") Link 3