header.header
	.header__stripe
	.header__body
		.container
			.flex-grid.header__grid
				include _logo
				ul.nav
					li.nav__item
						a.nav__link(href="#") Link 1
					li.nav__item
						a.nav__link(href="#") Link 2
					li.nav__item
						include _toggle
								