.intro
	.container
		.row
			.intro__body
				.spacer.spacer--75
				.col.col--12
					h1 Hello! I'm Ryan.
					h4 I'm a Product Designer based in Tampa, Florida. &#9996;&#127996;
					p I currently work at 
						a.link(href="https://chargebacks911.com" target="_blank") Chargebacks911 
						| where I help build digital products and visual assets. I'm passionate about solving problems through design, experimenting with new and effective creative principles, and searching for the elusive Arizona Black and White Iced Tea. 
						a.link(href="../about") More...
					include _connect-bar