h5 View more work
a.project__role.flex-grid.u-align-center.footer-project.link--cb911(href="#")
  .project__icon
    include _icon-cb911
  .flex-grid__col
    span
      strong Chargebacks911
      | &nbsp;- helping online merchants optimize profitability
a.project__role.flex-grid.u-align-center.footer-project.link--disputelab(href="#")
  .project__icon
    include _icon-disputelab
  .flex-grid__col
    span
      strong DisputeLab
      | &nbsp- Payments and Large Data Management for Banks
a.project__role.flex-grid.u-align-center.footer-project.link--zakucons(href="#")
  .project__icon
    include _icon-gundam
  .flex-grid__col
    span
      strong Zakucons
      | &nbsp- Open-source icon set insired by Mobile Suit Gundam
.row
  .col.col--12
    a.link(href="../work") More...