
a.project__role.flex-grid.u-align-center(href="https://programmingdesignsystems.com/" target="_blank")
  .project__icon
    include _icon-book
  .flex-grid__col
    strong.u-display-block Programming Design Systems
    span by Rune Madsen

a.project__role.flex-grid.u-align-center(href="https://www.barnesandnoble.com/p/this-is-not-a-t-shirt-bobby-hundreds/1130004894/2661873403442?st=PLA&sid=BNB_ADL+Marketplace+Generic+New+Books+-+Desktop+Medium&sourceId=PLAGoNA&dpid=tdtve346c&2sid=Google_c&gclid=EAIaIQobChMIgeKzyYGd5AIV3__jBx0r5AQ2EAYYASABEgIO7PD_BwE" target="_blank")
  .project__icon
    include _icon-book
  .flex-grid__col
    strong.u-display-block This Is Not a T-Shirt: A Brand, a Culture, a Community--a Life in Streetwear
    span by Bobby Hundreds

a.project__role.flex-grid.u-align-center(href="https://www.amazon.com/Pattern-Language-Buildings-Construction-Environmental/dp/0195019199" target="_blank")
  .project__icon
    include _icon-book
  .flex-grid__col
    strong.u-display-block A Pattern Language: Towns, Buildings, Construction
    span by Christopher Alexander, Sara Ishikawa, Murray Silverstein

a.project__role.flex-grid.u-align-center(href="https://www.amazon.com/Dataclysm-Identity-What-Online-Offline-Selves/dp/0385347391" target="_blank")
  .project__icon
    include _icon-book
  .flex-grid__col
    strong.u-display-block Dataclysm: Love, Sex, Race, and Identity--What Our Online Lives Tell Us about Our Offline Selves
    span by Christian Rudder