.row
  .col.col--3
    a.project__role.u-display-block(href="https://programmingdesignsystems.com/" target="_blank")
      .project__icon
        include _icon-book
      strong.u-display-block Programming Design Systems
      span by Rune Madsen
  .col.col--3
    a.project__role.u-display-block(href="https://www.amazon.com/Thinking-Fast-Slow-Daniel-Kahneman/dp/0374533555" target="_blank")
      .project__icon
        include _icon-book
      strong.u-display-block Thinking, Fast and Slow
      span by Daniel Kahneman
  .col.col--3
    a.project__role.u-display-block(href="https://www.amazon.com/Design-Storytelling-Ellen-Lupton/dp/194230319X" target="_blank")
      .project__icon
        include _icon-book
      strong.u-display-block Design is Storytelling
      span by Ellen Lupton
  .col.col--3
    a.project__role.u-display-block(href="https://www.amazon.com/Design-Everyday-Things-Donald-Norman/dp/1452654123" target="_blank")
      .project__icon
        include _icon-book
      strong.u-display-block The Design of Everyday Things
      span by Don Norman
.row
  .col.col--3
    a.project__role.u-display-block(href="https://www.amazon.com/Complexity-Emerging-Science-Order-Chaos-ebook/dp/B01F271C7K" target="_blank")
      .project__icon
        include _icon-book
      strong.u-display-block Complexity: The Emerging Science at the Edge of Order and Chaos
      span by M. Mitchell Waldrop
  .col.col--3
    a.project__role.u-display-block(href="https://www.amazon.com/Social-Animal-Sources-Character-Achievement/dp/0812979370" target="_blank")
      .project__icon
        include _icon-book
      strong.u-display-block The Social Animal: The Hidden Sources of Love, Character, and Achievement
      span by David Brooks
  .col.col--3
    a.project__role.u-display-block(href="https://www.amazon.com/Designed-Use-Create-Interfaces-Applications/dp/1934356751" target="_blank")
      .project__icon
        include _icon-book
      strong.u-display-block Designed for Use: Create Usable Interfaces for Applications and the Web
      span by Lukas Mathis
  .col.col--3
    a.project__role.u-display-block(href="https://www.amazon.com/Innovators-Dilemma-Technologies-Cause-Great/dp/1565114159" target="_blank")
      .project__icon
        include _icon-book
      strong.u-display-block The Innovator's Dilemma: When New Technologies Cause Great Firms to Fail
      span by Clayton Christensen
.row
  .col.col--3
    a.project__role.u-display-block(href="https://www.amazon.com/Pattern-Language-Buildings-Construction-Environmental/dp/0195019199" target="_blank")
      .project__icon
        include _icon-book
      strong.u-display-block A Pattern Language: Towns, Buildings, Construction
      span by Christopher Alexander, Sara Ishikawa, Murray Silverstein
  .col.col--3
    a.project__role.u-display-block(href="https://www.amazon.com/Quiet-Power-Introverts-World-Talking-ebook/dp/B004J4WNL2" target="_blank")
      .project__icon
        include _icon-book
      strong.u-display-block Quiet: The Power of Introverts in a World That Can't Stop Talking
      span by Susan Cain
  .col.col--3
    a.project__role.u-display-block(href="https://www.goodreads.com/book/show/25744928-deep-work" target="_blank")
      .project__icon
        include _icon-book
      strong.u-display-block Deep Work: Rules for Focused Success in a Distracted World
      span by Cal Newport
  .col.col--3
    a.project__role.u-display-block(href="https://www.amazon.com/Dataclysm-Identity-What-Online-Offline-Selves/dp/0385347391" target="_blank")
      .project__icon
        include _icon-book
      strong.u-display-block Dataclysm: Love, Sex, Race, and Identity--What Our Online Lives Tell Us about Our Offline Selves
      span by Christian Rudder