mixin xp(paramPos, paramCo, timeStart, timeEnd, content)
  li
    strong= paramCo
    br
    strong= paramPos
    span= '   (' + timeStart + " - " + timeEnd + ")"
    br
    p= content
    .spacer.spacer--25

.container
  .spacer.spacer--100
  .spacer.spacer--100
  .row
    .col.col--8
      :markdown-it
        ### Hello, I'm Ryan. I'm a multidisciplinary designer and problem solver.
        I’m driven to learn why people do what they do so I can create experiences that are intuitive and successful. I’ve helped rethink, prototype and design solutions to help bring empathy and simplicty into complex problems.

        Currently, I am a Product Designer at Masonite where I help simplify the home remodeling experience for contractors and homeowners.
        
        Previously at Chargebacks911, I helped design solutions across multiple product teams and bring multiple enterprise payments applications from concept to production.
        
        I help bring an understanding of designing successful experiences, with research, marketing, engineers, PMs and directors.
      .row
        ul
          li(style="display: inline-block; margin-right: 1.5rem;")
            a(href="mailto: parag.ryan@gmail.com")
              svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="position:relative; top: 6px; margin-right: 8px;")
                path(d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z")
                polyline(points="22,6 12,13 2,6")
              span parag.ryan@gmail.com
          li(style="display: inline-block; margin-right: 1.5rem;")
            a(href="tel:941-735-6602")
              svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="position:relative; top: 6px; margin-right: 8px;")
                path(d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z")
              span 941.735.6602
          li(style="display: inline-block;")
            a(href="http://grapalab.com")
              svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="position:relative; top: 6px; margin-right: 8px;")
                circle(cx="12" cy="12" r="10")
                line(x1="2" y1="12" x2="22" y2="12")
                path(d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z")
              span grapalab.com
    .col.col--3.col--offset-1
      .spacer.spacer--25
      a.btn.btn--primary(role="button" href="../images/ryan-parag-resume.pdf" target="_blank") Download PDF
      .spacer.spacer--25
      include _connect-bar
  .spacer.spacer--50
  .row
    .col.col--8
      :markdown-it
        ##### Professional Experience
      ul(style="list-style-type: none;")
        +xp('Product Designer', 'Masonite', 'March 2019', '', 'Working on multiple product experiences that may help flatten and simplify the home remodoling experience for homeowners and contractors.')
        +xp('Product Designer', 'Chargebacks911', 'May 2016', 'March 2019', 'Lead designer working between multiple engineering, executive, and marketing teams. Led the design of two legacy applications and one new application for clients in the enterprise payments space. Worked on UX flows, design systems, rapid prototyping, user journeys, marketing assets, and live product. Increased qualified web traffic by 400% and inbound leads by 250%.')
        +xp('Freelance', 'GrapaLab', '2009', '', 'Managed  product  and  branding  projects  for  clients  like  World Rugby,  the governing body of rugby ,  LinkMe,  a meeting app startup,  and  Patellini\'s,  an Italian restaurant chain')
        +xp('Healthcare Analyst', 'Xcenda', 'June 2015', 'May 2016', 'Analyzed data to measure pharmaceutical outcomes, investigated key business problems through quantitative analyses of  pharmaceutical cost data. ')
  .row
    .col.col--3
      h5 Skills
      ul(style="list-style-type: none;")
        li Interface Design
        li Interaction Design
        li Visual Design
        li UX, ideation and Workflows
        li Interaction and UI design
        li Branding
        li User Research
        li Usability Testing
        li Communication Design
    .col.col--3.col--offset-1
      :markdown-it
        ##### Tools
      ul(style="list-style-type: none;")
        li Adobe Creative Suite
        li Sketch App
        li Figma
        li Git
        li HTML/CSS/JS
        li Principle
        li Framer
        li Invision
        li SQL/R/Python
        li CMS platforms
  .row
    .col.col--8
      :markdown-it
        ##### Design Approach
        **I believe that the smallest UX details greatly impact a product’s success.**
        I have the ability to envision each product, regularly changing vantage points, from the smallest interaction to the design system it sits in, and how it impacts the larger strategy.
        
        **The magic happens in collaboration. I have the ability and desire to foster collaboration.**
        I begin by connecting at the individual level and across silos, to bubble up different points of view. This results in a robust vision and shared point of view that everyone is excited to build.
        
        **One of my top priorities is to fully embody the person using the product.**
        I have developed a range of thought exercises to ensure that I keep my beginner’s mind well-tuned. These allow me to consistently review and direct designs as if I was a brand new user.
  .row
    .col.col--6
      :markdown-it
        ##### Education
      ul(style="list-style-type: none;")
        +xp('M.S. Certificate - Applied Biostatistics','University of South Florida',  '2015', '2016', '')
        +xp( 'B.S. Biology, B.S. Health Informatics','University of Central Florida', '2008', '2012', '')