include _main-project
include _sub-project
+mainProject("../login-cb911/", "../images/chargebacks911-preview.png", "Chargebacks911", "Helping online merchants optimize profitability")
+mainProject("../login-drm/", "../images/disputelab-preview.png", "DisputeLab", "Payments and Large Data Management for Banks")
+mainProject("../zakucons/", "../images/zakucons-preview.png", "Zakucons", "Icons inspired by the world of Mobile Suit Gundam")
+mainProject("../playa/", "../images/playa-preview.png", "Playa", "Lightweight wireframing with SCSS and BEM")
+mainProject("../capsule/", "../images/capsule-preview.png", "Capsule Corp.", "A case study and rebrand of a fictional entity")
hr
.container
	.row
		.col.col--6
			+subProject('../utility/', 'Utility Board Shop', 'A print work for the a California-based skate shop', 'utility')
		.col.col--6
			+subProject('../tampa-redevelopment/', 'Tampa Redevelopment', 'Making information more accessible and engaging', 'tampa')
	.row
		.col.col--6
			+subProject('../patellinis/', "Patellini's Pizza", 'Rebranding a family-owned restaurant', 'patellinis')
		.col.col--6
			+subProject('../linkme/', 'LinkMe', 'Making it easier for people to connect', 'linkme')
	.row
		.col.col--6
			+subProject('../world-rugby/', "Women's Rugby", 'Data visualizations for an athletic brand', 'rugby')
		.col.col--6
			+subProject('../illustrations/', 'Misc. Illustrations', 'a variety of random illustrations', 'illust')